$color: #753cbf;
$light-color: #b69ed6;
$extra-light-color: #e9e1f5;
$popup-width: 350px;
$padding: 5px;

body {
  width: $popup-width;
}

.container {
  padding: 10px;
}

.navbar {
  background-color: $color;
  padding: 0px 5px;
}

input {
  border: none;
  width: 150px;
}

p {
  margin: 0px;
}

h3 {
  color: $color;
  font-size: 20px;
  font-weight: 500;
  margin: auto 0px;
  padding-right: 10px;
}

input, .btn:focus {
  box-shadow: none;
  outline: none;
}

.btn:not(.btn-link) {
  background-color: $light-color;
  border: none;
  color: white;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: $light-color;
}

.icon {
  background-color: white;
  color: $extra-light-color;
  cursor: pointer;
  font-size: 1em;
  margin-right: 5px;
}

#results {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: $padding;
}

section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 20px;
}

a, .btn-link {
  color: $color;
  padding-bottom: $padding;
  text-decoration: underline;
  width: max-content;
}

.btn-link {
  background-color: $light-color;
  border: none;
  color: white;
  padding: 0px 2px;
  text-decoration: none;
  &:hover {
    background-color: $color;
    color: white;
    text-decoration: none;
  }
}

.section-title {
  font-weight: 600;
}

.result-item {
  padding-bottom: 5px;
}

iframe, img {
  border: none;
  width: 100%;
  height: auto;
}

video {
  object-fit: cover;
  width: 100%;
}

.zoom {
  left: -20%;
  position: relative;
  width: 150%;
}

.caption {
  color: $light-color;
}

#spinner {
  filter: hue-rotate(-40deg);
  width: 100px;
  margin: auto;
}

#no-results {
  margin: 0px;
  text-align: center;
}

#container-history-btn {
  margin-left: 5px;
}

#history-btn {
  background: none;
  padding: 0px;
  width: 100%;

  img {
    width: 30px;
  }
}

#clear-btn {
  border-radius: 0px;
  width: 100%;
  height: 30px;
  padding: 0px;
}

#grow {
  -moz-transition: height .3s ease;
  -ms-transition: height .3s ease;
  -o-transition: height .3s ease;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  height: 0;
  overflow: hidden;
}

.list-group {
  background-color: $color;
  border-radius: 0px;
  max-height: 140px;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.list-group-item-flex {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: none;
  display: flex;
  max-height: 32px;
  justify-content: space-between;
  align-items: center;

  &.remove {
    transition: all 0.4s ease-in;
    max-height: 0;
    transform: translateX(-100%);
  }
}

.list-group-item {
  border: none;
  cursor: pointer;
  padding: 3px;
  width: 100%;
}

#related-signs {
  padding-top: 20px;
}

.related-sign {
  margin: 0px 2px;
}

.new-search {
  text-align: center;
  span {
    color: $color;
    font-weight: 600;
  }
}